<div class="container">
    <h1>Create Patients Medical Record</h1>
    <form class="row g-3" [formGroup]="medicalRecordForm" (ngSubmit)="onSubmit()">
       
        <div class="form-group col-md-6">
            <label for="treatment" class="form-label">Treatment</label>
            <input type="text" formControlName="treatment" class="form-control" id="treatment">
        </div>
        <div class="form-group col-6">
            <label for="prescription" class="form-label">Prescription</label>
            <input type="text" formControlName="prescription" class="form-control" id="prescription" placeholder="">
        </div>
        <div class="form-group col-md-6">
            <label for="testResult" class="form-label">Test Result</label>
            <input type="text" formControlName="testResult" class="form-control" id="testResult">
        </div>
         <!-- <div class="form-group col-12">
            <label for="patientId" class="form-label">Patient Id</label>
            <input type="number" formControlName="patientId" class="form-control" id="patientId" placeholder="">
        </div> -->
        <div class="col-md-3">
            <label for="inputState" class="form-label">Patient Id</label>
            <select id="inputState" class="form-select">
              <option selected>Select One</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        <!-- <div class="form-group col-md-6">
            <label for="doctorId" class="form-label">Doctor Id</label>
            <input type="number" formControlName="doctorId" class="form-control" id="doctorId">
        </div> -->
        <div class="col-md-3">
            <label for="inputState" class="form-label">Doctor Id</label>
            <select id="inputState" class="form-select">
              <option selected>Select One</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        <!-- <div class="form-group col-md-6">
            <label for="diagnosis" class="form-label">Diagnosis</label>
            <input type="text" formControlName="diagnosis" class="form-control" id="diagnosis">
        </div> -->
        <div class="form-group col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check out
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>


