<div class="container">
    <h1>Add Patients Medical History</h1>
    <form class="row g-3">
        <div class="form-group col-12">
            <label for="patientName" class="form-label">Patient Name</label>
            <input type="text" formControlName="patientName" class="form-control" id="patientName" placeholder="">
        </div>
        <div class="form-group col-12">
            <label for="doctorName" class="form-label">Doctor Name</label>
            <input type="text" formControlName="doctorName" class="form-control" id="doctorName" placeholder="">
        </div>
        <div class="form-group col-12">
            <label for="treatment" class="form-label">Treatment</label>
            <input type="text" formControlName="treatment" class="form-control" id="treatment" placeholder="">
        </div>
        <div class="form-group col-12">
            <label for="dischargeDate" class="form-label">Discharge Date</label>
            <input type="date" formControlName="dischargeDate" class="form-control" id="dischargeDate" placeholder="">
        </div>
        <div class="form-group col-12">
            <label for="diagnosisResult" class="form-label">Diagnosis Result</label>
            <input type="text" formControlName="diagnosisResult" class="form-control" id="diagnosisResult" placeholder="">
        </div>
        <div class="form-group col-12">
            <label for="billAmount" class="form-label">Bill Amount</label>
            <input type="number" formControlName="billAmount" class="form-control" id="billAmount" placeholder="">
        </div>
        <div class="form-group col-12">
            <label for="billStatus" class="form-label">Bill Status</label>
            <input type="text" formControlName="billStatus" class="form-control" id="billStatus" placeholder="">
        </div>
        <div class="form-group col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check out
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
    </form>
</div>
