<!-- <div class="container">
  <button type="button" routerLink="/bookAnAppointment" class="btn btn-outline-info">New Appointment</button>
</div>
<div class="container">
  <h2>Patients Information</h2>
    <table class="table table-dark table-hover">
       
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Second</th>
                <th scope="col">Third</th>
                <th scope="col">Last</th>
                <th scope="col">Action ............................................................................................................................
                </th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                  <a type="button" class="btn btn-primary"  >Update</a>
                  &nbsp;
                  <button type="button" class="btn btn-danger">Delete</button>
                  &nbsp;
                  <button type="button" routerLink="medical history" class="btn btn-outline-info">Medical History</button>
                  &nbsp;
                  <button type="button" routerLink="followups" class="btn btn-outline-info">Follow Ups</button>
                  &nbsp;
                  <button type="button" routerLink="" class="btn btn-outline-info">Details</button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>Thornton</td>
             
                <td>
                  <a type="button" class="btn btn-primary"  >Update</a>
                  &nbsp;
                  <button type="button" class="btn btn-danger">Delete</button>
                  &nbsp;
                  <button type="button" class="btn btn-outline-info">Medical History</button>
                  &nbsp;
                  <button type="button" class="btn btn-outline-info">Follow Ups</button>
                  &nbsp;
                  <button type="button" class="btn btn-outline-info">Details</button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
                <td>twitter</td>
                <td>
                  <a type="button" class="btn btn-primary"  >Update</a>
                  &nbsp;
                  <button type="button" class="btn btn-danger">Delete</button>
                  &nbsp;
                  <button type="button" class="btn btn-outline-info">Medical History</button>
                  &nbsp;
                  <button type="button" class="btn btn-outline-info">Follow Ups</button>
                  &nbsp;
                  <button type="button" class="btn btn-outline-info">Details</button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
                <td>twitter</td>
                <td>
                  <a type="button" class="btn btn-primary"  >Update</a>
                  &nbsp;
                  <button type="button" class="btn btn-danger">Delete</button>
                  &nbsp;
                  <button type="button" class="btn btn-outline-info">Medical History</button>
                  &nbsp;
                  <button type="button" class="btn btn-outline-info">Follow Ups</button>
                  &nbsp;
                  <button type="button" class="btn btn-outline-info">Details</button>
                </td>
              </tr>
         
            </tbody>
       
      </table>
  </div> -->

<div class="container">
  <button type="button" routerLink="/bookAnAppointment" class="btn btn-outline-info">New Appointment</button>
</div>
<div class="container">
  <h2>Patients Information</h2>

  <table class="table table-dark table-hover">
    <tr>
      <th>Name</th>
      <th>Date Of Birth</th>
      <th>Address 1</th>
      <th>City</th>
      <th>Country</th>
      <th>Email</th>
      <th scope="col">Action
        ...............................................................................................
      </th>
    </tr>
    <tr *ngFor="let patient of patientList">
      <td>{{ patient.lastName }}</td>
      <td>{{ patient.dateOfBirth }}</td>
      <td>{{ patient.address1 }}</td>
      <td>{{ patient.city }}</td>
      <td>{{ patient.country }}</td>
      <td>{{ patient.email }}</td>
      <td>
        <a type="button" class="btn btn-primary">Update</a>
        &nbsp;
        <button type="button" class="btn btn-danger" (click)="delete(patient.id)">Delete</button>
        &nbsp;
        <button type="button" class="btn btn-outline-info">Medical History</button>
        &nbsp;
        <button type="button" class="btn btn-outline-info">Details</button>
      </td>
    </tr>
  </table>
</div>